* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(12, 7, 31);
}


h2 {
    display: block;
    font-size: 30px;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: rgb(255, 251, 251);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.safety {
    border: 1px solid;
    border-color: var(--white);
    border-radius: 16px;
    margin-top: 20px;
    padding: 20px;
    padding-top: 30px;
    position: absolute;
    color: var(--white);
}

body {
    font-family: "Roboto";
}

:root {
    --blue: rgb(98, 98, 255);
    --dark_blue: rgb(0, 0, 214);
    --primarydark: #07080a;
    --secondarydark: #0d1016;
    --white: rgb(245, 245, 245);
    --grey: rgba(107, 107, 107, 0.5);
    --light_grey: rgb(187, 187, 187);
    --black: black;
    --active: rgb(187, 187, 187);
}

p{
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 500;
    font-style: italic;
    letter-spacing: 0.5px;
    
}

h4{
    font-size: 14px;
    font-family: sans-serif;
    font-variant: small-caps;
}

.logo{
    width: 15cm;
    height: 15cm;
    padding-top: 10px;
}

#topnav img {
    width: 100%;
    max-width: 40px;
    height: auto;
    align-items: center;
    position: absolute;
  }

  ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 0px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: Arial;
    font-weight: bold;
    transition: 0.6s ease;
}

ul li a:hover{
    color: orange
}

body {
    background: linear-gradient(90deg, rgba(177, 64, 200, 1) 0%, rgba(109, 9, 121, 1) 35%, 
                rgba(45, 1, 62, 1) 100%);
  }
  
  .glow {
    font-size: 70px;
    color: #ffffff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #eeeeee, 0 0 20px #000000, 0 0 30px #000000, 0 0 40px #000000, 
                   0 0 50px #9554b3, 0 0 60px #9554b3, 0 0 70px #9554b3;
    }
    to {
      text-shadow: 0 0 20px #eeeeee, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 
                   0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }